.app-download{
    margin:auto auto;
    margin-top:40px;
    font-size:max(3vw , 20px);
    text-align:center;
    font-weight:500;



}
.app-download-platforms img {
    transition: transform 0.3s ease; /* Smooth scaling transition */
  }
  
  .app-download-platforms img:hover {
    transform: scale(1.1); /* Scale up on hover */
  }